@{
    ViewBag.Title = "Home Page";
}

<body style ="background-image:url('/Content/Fondo.jpg');background-attachment: fixed;background-repeat: no-repeat;background-size: cover;" >
   
    <p class="Tituloindex">
        "No intentes ser el mejor del equipo, intenta que tu equipo sea el mejor"
    </p>
    <div class="rectangulo">
        
        <p class="textoindex1">
            La vuelta de un campeón
        </p>
        <p class="textrectangulo" >
            @ViewBag.descripcion1
        </p>
        <a  href='@Url.Action("IniciarSesion","Home")'>
            <input type="submit" value="Iniciar sesion">
        </a>

    </div>

    <div class="rectangulo2">
        <p class="textoindex2">
          ¡Nace una estrella!
        </p>
        <p class="textrectangulo">
            @ViewBag.descripcion2
            @ViewBag.descripcion22
        </p>
        <a class="botonindex" href='@Url.Action("Registrar","Home")'>
            <input type="submit" value="Registrarse">
        </a>
        
    </div>

</body>


