@{
    ViewBag.Title = "Home Page";
}

<div class="rectangulo">
    <p>
        @ViewBag.descripcion1
        <a href='@Url.Action("IniciarSesion","Home")'>
            <input type="submit" value="Iniciar sesion">
        </a>
        
    </p>
</div>

<div class="rectangulo2">
    <p>
        @ViewBag.descripcion2
        @ViewBag.descripcion22
        <a href='@Url.Action("Registrar","Home")'>
            <input type="submit" value="Registrarse">
            </a>
    </p>
</div>




